.student { 
    width: 100%;
    border-radius: 8px;
    box-shadow: 0px 0px 3px #000000a1;
    padding: 20px;
}

.Informática  {
    box-shadow: 0px 0px 4.5px blue;
}

.Desenvolvimento {
    box-shadow: 0px 0px 4.5px blue;
}

.Multimídia {
    box-shadow: 0px 0px 4.5px blueviolet;
}

.Contabilidade {
    box-shadow: 0px 0px 4.5px rgb(255, 40, 219);
}

.icons-students {
    display: flex;
    margin-top: 20px;
}

.group-student {
    color: black;
}

.group-student:hover {
    cursor: auto;
    text-decoration: none;
}