.teamLibrary {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #64A6DC;
    margin-bottom: 30px;
}

.team-photo {
    height: 100%;
}

.team-photo > img {
    width: 100%;
    height: 100%;
}

.aboutUs {
    width: 30%;
}

.aboutUs > h1 {
    color: white;
    font-family: 'Dm Serif';
}

.aboutUs > p {
    text-align: justify;
    color: white;
}

.aboutUs > p:hover {
    cursor: auto;
    text-decoration: none;
}
