.header-carousel {
    display: flex;
    justify-content: space-between;
    align-items: center;   
    padding: 20px; 
}

.search-buttons {
    display: flex;
    padding: 20px 20px 10px 20px;
}

.input-search {
    padding-right: 8px;
}

.search-buttons .right-arrow{
    margin-left: 20px;
    transform: rotate(180deg);
}