@font-face {
    font-family: "Dm Serif";
    src: url(../../assets/fonts/DMSerif/DMSerifText-Regular.ttf);
}

.header-carousel {
    display: flex;
    justify-content: space-between;
    align-items: center;   
    padding: 20px; 
}

.title > a {
    font-family: "Dm Serif";
    font-size: 40px;
    letter-spacing: 1px;
    color: var(--light-purple);
}

.search-buttons {
    display: flex;
    padding: 20px 20px 10px 20px;
}

.input-search {
    padding-right: 8px;
}

.input-search > input {
    width: 300px;
    box-shadow: 0px 2px 10px #00000054;
}

.search-buttons .right-arrow{
    margin-left: 20px;
    transform: rotate(180deg);
}