.container.registerUser {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.formRegisterUser {
    width: 45%;
}

.formRegisterUser > h1 {
    font-family: "Dm Serif";
    padding-top: 20px;
    color: var(--light-purple);
}

.btn-registerUser {
    display: flex;
    justify-content: center;
}

.btn-registerUser > button {
    background-color: var(--light-purple);
    width: 70%;
    font-size: 18px;
    font-weight: 800;
    color: white;
    padding: 6px;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 5px;
    box-shadow: 2px 2px 10px #0000007a;
}

@media only screen and (max-width: 1024px) {
    .container.registerUser {
        flex-direction: column-reverse;
    }

    .users-image {
        display: flex;
        justify-content: center;
    }
    
    .formRegisterUser {
        width: 80%;
    }
}

@media only screen and (max-width: 460px) {    
    .users-image {
        display: none;
    }
}