@font-face {
    font-family: "Dm Serif";
    src: url(../../assets/fonts/DMSerif/DMSerifText-Regular.ttf);
}

.container.table {
    margin-top: 40px;
}

.table > thead > tr > th {
    color: var(--light-purple);
}

.header-students{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-students > h1 {
    font-family: "Dm Serif";
    font-size: 40px;
    text-align: left;
    letter-spacing: 1px;
    color: var(--light-purple);
    padding-top: 20px;
}

.input-search-student > input {
    width: 300px;
    box-shadow: 0px 2px 10px #00000054;
}