.navbar.navbar-expand-lg.bg-light {
    box-shadow: 0px 3px 6px #00000045;
}

.navbar-nav .nav-item {
    display: flex;
    align-items: center;
}

.navbar-nav .nav-item a{
    padding-right: 40px;
    color: var(--light-purple);
    text-decoration: none;
}

.logo {
    width: 140px;
    height: auto;
}