.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--light-cian);
    margin-top: 2px;
    padding: 50px;
    box-shadow: 0px -3px 10px #00000042;
}

.text-copyright:hover {
    cursor: auto;
    text-decoration: none;
}   

.icons {
    display: flex;
    align-items: center;
}

.link-footer {
    text-decoration: none;
    color: var(--middle-purple);
}