.students {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
    width: 100%;
    margin-top: 50px;
}

@media only screen and (max-width: 430px) {
    .students {
        grid-template-columns: 1fr 1fr;
    }
}