@font-face {
    font-family: "Dm Serif";
    src: url(./assets/fonts/DMSerif/DMSerifText-Regular.ttf);
}


* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Nunito';
}

svg {
    cursor: pointer;
}

@media screen and (max-width: 400px){
    .footer {
        justify-content: center;
    }

    .footer > .text-copyright {
        display: none;
    }

    .footer > .icons {
        display: none;
    }
}